KERNEL_ARCH_CFLAGS=
KERNEL_ARCH_CPPFLAGS=
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=

KERNEL_ARCH_OBJS=\
$(ARCHDIR)/tty.o \
$(ARCHDIR)/video.o \
$(ARCHDIR)/gdt.o \
$(ARCHDIR)/idt.o \
$(ARCHDIR)/isr_stubs.o \
$(ARCHDIR)/exceptions.o \
$(ARCHDIR)/irq.o \
$(ARCHDIR)/font.o \
$(ARCHDIR)/serial.o \
$(ARCHDIR)/keyboard.o \
